@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Playfair+Display&display=swap');

body {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom right, #88c2ff, #0834c5);
	z-index: -1;
}

#header-filler {
	top: 0;
	left: 0;
	position: relative;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
  padding: 7px 0;
	height: 50px;
}

#header-text {
  color: white;
	position: absolute;
	top: 12px;
	z-index: 1000;
}

#meniu {
	position: sticky;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 0;
	top: -1px;
	margin: 0;
	list-style-type: none;
  width: 100%;
	text-align: center;
	z-index: 666;
}

#meniu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#meniu li {
	display: inline-block;
	position: relative;
	width: max-content;
}

#meniu a {
	background-color: #88c2ff;
	text-decoration: none;
	color: black;
	display: inline-block;
	padding: 10px 125px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#meniu a:hover {
		color: white;
		background-color: #0834c5;
}

#auth-btn-container {
	position: fixed;
	top: 26px;
	right: 20px;
}

#logout-button {
	border-radius: 5px;
  border: none;
	padding: 5px 15px;
	margin-left: 10px;
	color: black;
	background-color: #88c2ff;
  transition: background-color 0.3s;
  cursor: pointer;
}

#logout-button:hover {
	color: white;
	background-color: #0834c5;
}

.login-container {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: auto;
  margin: 10% 0;
}

#login-form {
  height: auto;
}

#login-heading {
  text-align: center;
  margin-bottom: 20px;
}

#login-signin-text {
  text-align: center;
  margin-bottom: 10px;
}

#login-form input[type="text"],
#login-form input[type="email"],
#login-form input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#login-form button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #254dfd;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#login-form button:hover {
  background-color: #1231bc;
}

.content-container {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 75px 0;
  width: 80%;
  height: auto;
}

#patient_name {
  font-size: 22px;
  font-style: oblique;
  color: black;
}

#patients_additional_info,
#command-additional-info,
#alarm-additional-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none;
}

#edit-patient-form,
#add-patient-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1001;
}

#patient-form,
#add-form {
  display: flex;
  flex-direction: column;
  height: auto;
}

#patient-form input[type="text"],
#patient-form input[type="email"],
#patient-form input[type="tel"],
#patient-form input[type="number"],
#add-form input[type="text"],
#add-form input[type="email"],
#add-form input[type="tel"],
#add-form input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#patient-form textarea,
#add-form textarea {
  height: 100px;
  max-height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#edit-patient-btn,
#add-patient-form-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

#patient-form button,
#add-form button {
  width: calc(50% - 5px);
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  background-color: #254dfd;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#patient-form button:hover,
#add-form button:hover {
  background-color: #1231bc;
}

.edit-button,
.delete-button {
  width: auto;
  height: 31px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #254dfd;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button {
  margin-left: 10px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #1231bc;
}

#add-room-button,
#delete-room-button,
#edit-room-button,
#draw-route-button,
#btn-add-room,
#btn-delete-room,
#btn-edit-room,
#cancel-add-room,
#cancel-delete-room,
#cancel-edit-room {
  width: auto;
  height: 31px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #254dfd;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-room-button:hover,
#delete-room-button:hover,
#edit-room-button:hover,
#draw-route-button:hover,
#btn-add-room:hover,
#btn-delete-room:hover,
#btn-edit-room:hover,
#cancel-add-room:hover,
#cancel-delete-room:hover,
#cancel-edit-room:hover {
  background-color: #1231bc;
}

#btn-edit-del-container {
  display: flex;
  flex-direction: row;
}

#search-add-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#search-bar {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-button {
  padding: 10px 20px;
  background-color: #254dfd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #0056b3;
}

#add-button {
  height: 33px;
  width: 48px;
  background-color: #254dfd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-button:hover {
  background-color: #0056b3;
}

#med-command-btn {
  height: 50px;
  width: 130px;
  background-color: #254dfd;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

#med-command-btn:hover {
  background-color: #0056b3;
}

#medicine-select {
  width: 30%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

#medicine-orders li {
  font-size: 17px;
  font-style: italic;
  font-weight: 600;
}

#map-edit-btns {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 10px 0;
}

#add-room-button,
#delete-room-button,
#edit-room-button {
  margin-right: 10px;
}

#add-room-form,
#delete-room-form,
#edit-room-form {
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 400px;
}

#add-room-form input[type="text"],
#edit-room-form input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

#delete-room-form select,
#edit-room-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

#add-room-form button,
#delete-room-form button,
#edit-room-form button {
  width: 100%;
  height: auto;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #254dfd;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px 0;
}

#add-room-form button:hover,
#delete-room-form button:hover,
#edit-room-form button:hover {
  background-color: #1231bc;
}
